div.react-datalist
    position : absolute
    margin   : 0!important
    border   : 1px solid #A1C1E7
    background-color : white

    .react-datalist-option
        display : block
        margin  : 0!important
        width   : 94%
        padding : 3%

        &.react-datalist-selected
            background-color #BAD4FE