.react-datalist
    margin     : 0 !important
    border     : 1px solid #A1C1E7
    max-height : 500px
    overflow-x : scroll
    background-color : white

    .react-datalist-option
        display : block
        margin  : 0 !important
        width   : 94%
        padding : 3%
        cursor  : pointer

        &:hover
            background-color #BAD4FE

        &.react-datalist-option-selected
            background-color #BAD4FE
